/* NAVBAR STARTS HERE */
html,
body {
  font-family: "Inter", sans-serif !important;
  height: 100%;
  margin: 0;
  padding: 0;
}
#nav {
  width: 100%;
  height: 10%;
  background-color: #fff6ee;
  /* margin-bottom: 2%; */
  border-bottom: 3px solid white;
  display: flex;
  align-items: center;
}

#logo {
  height: 80%;
}

#welcome {
  color: #56381c;
  font-weight: bold;
}

#first {
  margin-left: auto;
}

#current {
  font-weight: bold;
  color: #56381c;
}

.selectors {
  color: #e2b582;
  margin-right: 2%;
  text-decoration: none;
}

.selectors:hover {
  text-decoration: underline;
  cursor: pointer;
}

@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-bob:hover,
.hvr-bob:focus,
.hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: 0.3s, 1.5s;
  animation-duration: 0.3s, 1.5s;
  -webkit-animation-delay: 0s, 0.3s;
  animation-delay: 0s, 0.3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

/* NAVBAR ENDS HERE */

/* choi do here */
/* .input-group {
  display: flex;
  flex-direction: column;
}

.input-group label, .input-group select {
  margin-bottom: 10px;
} */
.container {
  /* max-width: 800px; */
  margin: 0 auto;
}

h1 {
  font-size: 36px;
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 20px;
}
/* select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    background-image: url('dropdown-arrow.svg');
    background-repeat: no-repeat;
    background-position: right center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
  }
  
  select:focus {
    outline: none;
    border-color: blue;
  } */
.container {
  background-color: #fdfaf7cd;
}
.select {
  font-size: 16px;
  /* font-weight: bolder; */
  color: grey;
  /* background-color: #fff6ee; */
  border-color: #a09082;
  border-width: 2px;
  cursor: pointer;
}
textarea {
  font-size: 16px;
  /* font-weight: bolder; */
  color: grey;
  /* background-color: #fff6ee; */
  border-color: #a09082;
  border-width: 2px;
  cursor: pointer;
}
textarea:focus {
  outline: none;
  border-color: #607e96;
}
select:focus {
  outline: none;
  border-color: #607e96;
}

/* .option {
    background-color: green;
} */
.input-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}
.btn {
  margin-top: 20px !important;
}
select,
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  /* border: 1px solid #ddd; */
  border-radius: 5px;
  box-sizing: border-box;
}

button[type="button"] {
  display: block;
  margin-top: 40px !important;
  padding: 5px 20px;
  background-color: #607e96;
  color: #fff;
  /* border: 3px solid white; */
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.invisible-btn {
  margin-top: 700px !important;
}
.btn-outline-info {
  /* margin-top: 1000px; */
  top: 1000px;
  /* padding-top: 10000px; */
}
.button {
  display: inline-block;
  margin-top: 20px !important;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

button[type="button"]:hover {
  background-color: #56381c;
  /* border: aqua; */
  color: white;
  text-decoration: none;
}

h1 {
  color: #56381c !important;
}
label {
  color: #56381c !important;
}
